* {
    box-sizing: border-box;
}

body {
    background-color: #eee;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

div1 {
    float: right;
    width: 70%;
    background-color: #fff;
    border-left: 5px solid #555;
    border-right: 5px solid #555;
}
hr {
    width: 100%;
}