* {
    box-sizing: border-box;
}
h6 {
    direction: ltr;
    font-size: 10px;
    color: #888;
}
html {
    direction: rtl;
    color: #bbb;
}
body {
    background-color: #272727;
}
.content_box {
    width: 65%;
    border-top: solid 1px #999;
    margin: 20px;
    padding: 20px;
    float: right;
}
.code_pen {
    width: 95%;
    direction: ltr;
    border-top: solid 0.5px #888;
    margin-left: 2.5%;
    margin-right: 2.5%;
    float: left;
}
.comment {
    float: left;
    margin: 20px;
    width: 20%;
    border-top: solid 1px #999;
}
p {
    margin-right: 15px;
}
a {
    margin-right: 15px;
}
